*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
LoginObserver.kt
DriverRequest.kt
TempActivity.kt
LocationSelectionActivity.kt
LocationSelectionViewModel.kt
RouteViewModel.kt
PlaceRepository.kt
RouteRemoteDataSource.kt
PlaceRemoteDataSource.kt
usefulcode