*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
LoginObserver.kt
/app/src/main/java/com/wassallni/ui/DriverRequest.kt
/app/src/main/java/com/wassallni/ui/LocationSelectionActivity.kt
/app/src/main/java/com/wassallni/ui/TempActivity.kt
/app/src/main/java/com/wassallni/ui/viewmodel/LocationSelectionViewModel.kt
/app/src/main/java/com/wassallni/data/repository/RouteRepository.kt
/app/src/main/java/com/wassallni/data/repository/PlaceRepository.kt
/app/src/main/java/com/wassallni/data/model/DoHomeWork.kt
/app/src/main/java/com/wassallni/data/model/PlaceInfo.kt
/app/src/main/java/com/wassallni/data/datasource/PlaceRemoteDataSource.kt
/app/src/main/java/com/wassallni/data/datasource/RouteRemoteDataSource.kt
